name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  # This dummy job is required because the `passes-all-required-checks` job needs at least one dependent job.
  # This job may be removed when we have at least one real check.
  successful-dummy:
    name: Successful dummy
    runs-on: ubuntu-latest
    steps:
      - name: Step which always succeeds
        run: echo "I am a dummy step which always succeeds!"

  passes-all-required-checks:
    name: Passes all required checks
    if: always()
    needs:
      - successful-dummy
    runs-on: ubuntu-latest
    steps:
      - name: Check whether the required jobs succeeded or failed
        uses: re-actors/alls-green@a638d6464689bbb24c325bb3fe9404d63a913030 # v1.1.0
        with:
          jobs: ${{ toJSON(needs) }}